body, html {
    height: 100%;
    margin: 0;
    background-color: white;
}

.background {
    background: radial-gradient(#3f3f3f,#2f2f2f,#2d2d2d,#1f1f1f, #1a1a1a, #000000);
    background-size: cover;
    background-position: center;
    width: 100%; 
    height: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center;
    animation-name: bg-change;
}

.logosection{
    display:inline-flex;
    justify-content:center; 
    align-items:center; 
    flex-direction:column; 
    padding: 30px;
    border-radius:10px; 
    width:200px; 
    height:150px; 
    position:absolute; 
    top:30%; 
    left: 42%;
    animation-name: moveToTop;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

.logosection img{
    width: 200px;
    height: 200px;
    transition: ease-in-out;
    animation-name:shrink;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

.logosection h2 {
    font-size: 75px;
    transition: ease-in-out; 
    animation-name: shrink-head;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}


@keyframes moveToTop {
    0% {
        
    }
    20% {
        
    }
    30%{
        flex-direction: row;
    }
    100% {
        top: 0%;
        left: 11%;
        flex-direction: row;
        transform: translate(-50%, 0%) ;
        height: 70px ;
        width: 350px;
        transition: 4s width 4s height ease-in-out;
    }
}

@keyframes shrink {
    0% {
        width: 200px;
        height: 200px;
    }
    100% {
        width: 75px;
        height: 75px;
    }
}

@keyframes shrink-head {
    0% {
        font-size: 35px;
    }
    100% {
        font-size: 25px;
    }
}

@keyframes bg-change {
    0% {
        background-color: rgb(0, 0, 0);
    }
    20%{
        background-color: rgb(4, 4, 4);
    }
    40%{
        background-color: rgb(0, 0, 0);
    }
    60%{
        background-color: rgb(0, 0, 0);
    }
    100%{
        background-image: url('../../assets/bg.jpg') center fixed;
        background-size: cover;
    }
}

.fade{
    justify-self: center;
    width: 100%;
    height: 100%;
    margin-left: 400px;
    margin-top: 200px;
    animation-name: fadecar;
    animation-delay: 4s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.car{
    background: url('../../assets/bgad1.png');
    background-size: cover;
    background-position: center;
    width: 80%;
    height: 80%;
}

.car:hover{
    animation-name: light;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

@keyframes fadecar{
    0%{
        opacity: 0;
    }
    70%{
        opacity: 0.4;
    }
    90%{
        opacity: 0.8;
    }
    100%{
        opacity: 0.9;
    }
}

@keyframes light {
    0% {
        background: url('../../assets/bgad1.png');
        background-size: cover;
        background-position: center;
        width: 80%;
        height: 80%; 
    }
    20% {
        background: url('../../assets/bgad2.png');
        background-size: cover;
        background-position: center;
        width: 80%;
        height: 80%; 
    }
    40%{
        background: url('../../assets/bgad1.png');
        background-size: cover;
        background-position: center;
        width: 80%;
        height: 80%; 
    }
    60%{
        background: url('../../assets/bgad3.png');
        background-size: cover;
        background-position: center;
        width: 80%;
        height: 80%; 
    }
    80%{
        background: url('../../assets/bgad1.png');
        background-size: cover;
        background-position: center;
        width: 80%;
        height: 80%; 
    }
    100% {
        background: url('../../assets/bgad3.png');
        background-size: cover;
        background-position: center;
        width: 80%;
        height: 80%; 
    }
}

span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: large; 
    margin-left: 350px;
    font-weight: bold;
    color: white;
    animation-duration: 0.5s;
    animation-fill-mode:both;
}
span:hover{
    animation-name: gradit;
    cursor: pointer;
}

@keyframes gradit{
    0%{
        color: white;
    }
    20%{
        color: rgb(248, 226, 171);
    }
    30%{
        color:rgb(250, 218, 137)
    }
    40%{
        color:rgb(255, 211, 104)
    }
    50%{
        color:rgb(255, 204, 71)
    }
    60%{
        color:rgb(255, 197, 38)
    }
    70%{
        color:rgb(255, 190, 5)
    }
    80%{
        color:rgb(255, 183, 0)
    }
    90%{
        color:rgb(255, 176, 0)
    }
    100%{
        background: radial-gradient(#d4af37, #b8860b, #8b6914); background-clip: text; -webkit-text-fill-color: transparent; 
    }
}