button {
    width: 90px;
    height: 50px;
    color: snow;
    background-color: black;
    border-radius: 10px;
    font-size: 30px;
    font-family: 'bahnschrift';
}

input {
    margin: 20px;
    margin-bottom: 0px;
    margin-left: 30px;
    border-radius: 10px;
    height: 50px;
    width: 350px;
    border-width: 2px;
    background-color: black;
    color: white;
    font-size: 30px;
    font-family: 'bahnschrift';
    padding: 10px;
}

table {
    padding: 30px;
    padding-top: 10px;
}

.container {
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    background: radial-gradient(#d4af37, #b8860b, #8b6914);
    display: flexbox;
    margin-top: 200px;
    margin-left: 560px;
    border-radius: 10px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}

.msg {
    font-size: 16px;
    align-items: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: white;
    padding-top: 0px;
    margin-left: 40px;
    margin-top: 20px;
    width: 360px;
    height: 30px;
    border-radius: 10px;
}
