body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 250px;
    background: radial-gradient(circle, #fff7e5 0%, #fdd835 70%, #fbc02d 100%);
    margin: 0;
    font-family: Arial, sans-serif;
}

.level-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.box-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 20px;
}

.box {
    width: 190px;
    height: 130px;
    background-size: cover;
    background-position: center;
    display: none;
}

.box.closed {
    background-image: url('../../assets/box-cls.png');
}

.box.opened {
    background-image: url('../../assets/box-opn.png');
}

.box.active {
    display: block;
}

.input-box {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 20px;
    width: 200px;
}

.submit-button {
    background-color: #ff8400;
    color: white;
    font-family: "bahnschrift";
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #2563eb;
}

.message {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #4b5563;
    text-align: center;
}
